BASE_URL="http://localhost:8080"  #Default URL
APP_SECRET=swilen:NzMxYTA2MjM3YzM5ZGFhYzQyM2I5N2E4NWZmOTI3Yzc
APP_SECRET_64=base64:OGY2MjE4M2Q3ZThjNWVjMmM0NDYxMzc1MTViMTczZDM=

EXTEND_URL="${BASE_URL}/api" ##Comment
REST_URI={BASE_URL}/api/v1
REST_RESOURCE=testing
APP_DEBUG=false
APP_MULTI=🚀

NESTED_URI="{REST_URI}/{REST_RESOURCE}" ## Comment inline

PREV_COMMENT=true
### COMMENT IGNORED
NEXT_COMMNET=OK
